# Example MySQL config file for medium systems.
#
# This is for a system with little memory (32M - 64M) where MySQL plays
# an important part, or systems up to 128M where MySQL is used together with
# other programs (such as a web server)
#
# You can copy this file to
# /etc/my.cnf to set global options,
# mysql-data-dir/my.cnf to set server-specific options (in this
# installation this directory is /var/lib/mysql) or
# ~/.my.cnf to set user-specific options.
#
# In this file, you can use all long options that a program supports.
# If you want to know which options a program supports, run the program
# with the "--help" option.

# The following options will be passed to all MySQL clients
[client]
#password	= your_password
port		= 3306
socket		= /var/run/mysqld/mysql.sock
datadir=/var/run/mysql

# Here follows entries for some specific programs

# The MySQL server
[mysqld]
socket=/var/lib/mysqld/mysql.sock
pid-file=/var/run/mysqld/mysqld.pid
thread_cache_size=4
tmp_table_size=128M
max_heap_table_size=128M
query_cache_type=1
query_cache_size=128M
concurrent-insert
transaction-isolation = SERIALIZABLE
user=root
port		= 3306

[mysqld_safe]
log-error=/var/log/mysqld/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid